
#bookingTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#bookingTable th,
#bookingTable td {
  padding: 15px 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#bookingTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#bookingTable tr:nth-child(even) {
  background-color: #fafafa;
}

#bookingTable tr:hover {
  background-color: #f1f1f1;
}
